<br>
<div class="container">
  
    <div class="p-4 bg-light">
      <div class="container">
        <div class="row">
        <h1 class="text-center fw-bold">Contacto</h1>
          <div class="col-md-6 mt-4">
            <p class="text-center">
              <i class="fas fa-phone fa-2x"></i>
            </p>
            <h6 class="text-center">2628282 - 2652826</h6>
            <p class="text-center">
              <i class="fab fa-whatsapp fa-2x"></i>
            </p>
            <h6 class="text-center">+57 310 8246311</h6>
            <p class="text-center">
              <i class="far fa-envelope fa-2x"></i>
            </p>
            <h6 class="text-center">correo@instituto.com</h6>
          </div>
          <div class="col-md-6 mt-4">
            <p class="text-center">
              <i class="far fa-clock  fa-2x"></i>
            </p>
            <h6 class="text-center">8:00 a.m. - 12:00 m. / 2:00 p.m. - 6:00 p.m. </h6>
            <p class="text-center">
              <i class="fas fa-map-marker-alt fa-2x"></i>
            </p>
            <h6 class="text-center">Carrera 24 sur # 23 - 18</h6>
            <p class="text-center mt-4">
              <button class="btn btn-success"><i class="fas fa-map-marked-alt"></i> Ubicación Google Maps</button>
            </p>
          </div>
      </div>
    </div>
</div>

