<br>
<div class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quos reprehenderit blanditiis cupiditate qui ducimus at officia dolor eius, saepe quidem iste laboriosam repudiandae sequi est impedit? Consequatur facere illo, eum quaerat corporis perferendis aliquid asperiores ipsam non nemo sed.</p>
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Registro</h4>
        </div>
        <div class="card-body">
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombres:</label>
              <input type="text" class="form-control" id="nombre" placeholder="Escriba sus nombres" required>
              <!-- <div class="valid-feedback">Ok</div> -->
              <div class="invalid-feedback">Debe registrar su nombre.</div>
            </div>
            <div class="col-md-6">
              <label for="apellido" class="form-label">Apellidos:</label>
              <input type="text" class="form-control" id="apellido" placeholder="Escriba sus apellidos" required>
              <!-- <div class="valid-feedback">Ok</div> -->
              <div class="invalid-feedback">Debe registrar su apellido.</div>
            </div>
            <div class="col-md-6">
              <label for="direccion" class="form-label">Direccion de residencia:</label>
              <input type="text" class="form-control" id="direccion" placeholder="Escriba su dirección">
            </div>
            <div class="col-md-6">
              <label for="telefono" class="form-label">Celular:</label>
              <input type="text" class="form-control" id="telefono" placeholder="Escriba su número celular">
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Escriba su email">
            </div>
            <div class="col-md-6">
              <label for="fechaNac" class="form-label">Fecha de nacimiento</label>
              <input type="date" class="form-control" id="fechaNac">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Departamento</label>
              <select id="inputState" class="form-select">
                <option selected>Escoge el departamento</option>
                <option value="1">Tolima</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Ciudad</label>
              <select id="inputState" class="form-select">
                <option selected>Escoge la ciudad</option>
                <option value="1">Ibagué</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>