  <div class="image-school animate__animated animate__fadeIn">
  </div>

  <div class="text-box">
    <h1>The best school</h1>
    <p class="subtitulo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatibus iure repellendus eveniet doloribus dolorum quae ipsum alias!</p>
    <a href="inscripcion" routerLink="../inscripcion" class="hero-btn">Inscripción</a>
  </div>

  <!-- Course -->
  <section class="course" id="level">
    <h2>Nuestros niveles de educación</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <div class="row-course">
      <div class="course-col">
        <h3 class="tipoletratres">Preescolar</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugit minus error sequi qui, autem, quaerat, eius magni dolor quia aut perferendis omnis! Quod, neque!</p>
      </div>
      <div class="course-col">
        <h3 class="tipoletratres">Primaria</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugit minus error sequi qui, autem, quaerat, eius magni dolor quia aut perferendis omnis! Quod, neque!</p>
      </div>
      <div class="course-col">
        <h3 class="tipoletratres">Bachillerato</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad fugit minus error sequi qui, autem, quaerat, eius magni dolor quia aut perferendis omnis! Quod, neque!</p>
      </div>
    </div>
  </section>

  <!-- Campus -->
  <section class="campus">
    <h2>Nuestro campus</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row-course">
      <div class="campus-col">
        <img src="./assets/img/campus1.jpg" alt="">
        <div class="layer">
          <h3 class="tipoletratres">Salón</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="./assets/img/campus2.jpg" alt="">
        <div class="layer">
          <h3 class="tipoletratres">Áreas de esparcimiento</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="./assets/img/campus3.jpg" alt="">
        <div class="layer">
          <h3 class="tipoletratres">Laboratorio</h3>
        </div>
      </div>
    </div>
  </section>


  <!-- Facilidades -->
  <section class="facilities">
    <h2>Otros servicios ... </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div class="row-course">
      <div class="facilities-col">
        <a href=""><img src="./assets/img/england.jpg" alt=""></a>
        <h3 class="tipoletratres">Estudia en Inglaterra</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, accusantium?</p>
      </div>
      <div class="facilities-col">
        <a href=""><img src="./assets/img/language.jpg" alt=""></a>
        <h3 class="tipoletratres">Certificación internacional idiomas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, accusantium?</p>
      </div>
      <div class="facilities-col">
        <a href=""><img src="./assets/img/poli.jpg" alt=""></a>
        <h3 class="tipoletratres">Politecnico</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, accusantium?</p>
      </div>
    </div>
  </section>

  <!-- Testimonios -->
  <section class="testimonio">
    <h2>Lo que nuestros estudiantes dicen</h2>
    <div class="row-course">
      <div class="testimonio-col">
        <img src="./assets/img/student1.jpg">
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum soluta asperiores reprehenderit, neque dolorum nesciunt libero a magnam ratione. Earum voluptatem nulla commodi doloribus ipsam!</p>
          <h3 class="tipoletratres">Ana Castro</h3>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="testimonio-col">
        <img src="./assets/img/student2.jpg">
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum soluta asperiores reprehenderit, neque dolorum nesciunt libero a magnam ratione. Earum voluptatem nulla commodi doloribus ipsam!</p>
          <h3 class="tipoletratres">Luciana Rodriguez</h3>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to action -->

  <section class="cta">
    <h1>¿Estás interesado en hacer parte de nuestro equipo?</h1>
    <a href="trabaje-con-nosotros" routerLink="../trabaje-con-nosotros" class="hero-btn" id="bot-trab" >Ver más</a>
  </section>